.navigation-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navigation-buttons button {
  padding: 12px 30px;
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navigation-buttons button:first-child {
  background-color: #fff;
  color: #f26522;
  border: 2px solid #f26522;
  cursor: pointer;
}

.navigation-buttons button:last-child {
  background-color: #f26522;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navigation-buttons {
    flex-direction: column;
    align-items: stretch;
    width: 65%;
    margin: auto;
  }

  .navigation-buttons button {
    width: 100%;
  }
}

@media (max-width: 768px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
  
    .form-group input {
      max-width: 100%;
    }
  }